$font-family-base : -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

@import "bootstrap";


.promo-box {
  color: white;
  font-size: 1.5em;
  padding: $grid-gutter-width / 2;
  background-image: linear-gradient(#ff0404, #a70202);
}
.album {
  min-height: 50rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}
.product-card {
  background-color: white;
  margin-bottom: $grid-gutter-width / 2;
  padding: $grid-gutter-width / 2;
}
